{% paginate products from products.current by theme.products_per_page %}

  {% if products != blank %}
<div class="row">
	{% for product in products %}
	  <div class="col-sm-6 col-md-4 col-lg-4"><!-- {{ product.css_class }} -->
	    <img class="img-responsive" src="{{ product.image | product_image_url size: theme.product_image_size: 'small' }}" alt="Image of {{ product.name | escape }}">
	    <h2 class="featurette-heading">{{ product.name }}<span class="text-muted">{% if product.on_sale %}On Sale{% endif %}</span></h2>
	    <p class="lead"></p>
	  </div>
  {% endfor %}
</div>

    {{ paginate | default_pagination }}

  {% else %}
    <p>No products found.</p>
  {% endif %}

{% endpaginate %}
